#app {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
    background: #353638
}
.timersContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 27px;

    @include largeSize {
        width: $def-width * 3 + 150px;
        margin-bottom: 82px;
    }
    @include mediumSize {
        width: $def-width * 2 + 100px;
        margin-bottom: 72px;
    }
    @include smallSize {
        width: $def-width + 50px;
        margin-bottom: 77px;
    }

    .addTimer {
        width: $def-width;
        height: $def-height;
        background: #696969;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 45px 25px 0 25px;
        cursor: pointer;
        position: relative;
        
        &FstHalfPls{
            position: absolute;
            top: $def-height / 2 - 10px;
            left: $def-width /2 - 1,5px;
            width: 3px;
            height: 20px;
            background: #9E9E9E;
            transform: rotate(-90deg);
        }
    
        &SndHalfPls{
            position: absolute;
            top: $def-height / 2 - 10px;
            left: $def-width /2 - 1,5px;
            width: 3px;
            height: 20px;
            background: #9E9E9E;
        }
    }
}