body, html {
    min-height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(163, 208, 214, 0.25) 0%, rgba(98, 183, 223, 0.25) 100%);
}
::-webkit-scrollbar {
    width: 0;
}
*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}